/* admin */

.logged-in.page-admin #content {width: 550px; overflow: visible;}
.page-admin a, .node-form a  {border: none;}

.admin-panel {border-bottom: 1px solid #ddd; overflow: hidden; margin: 0 0 11px 0; }
.admin-panel h3 {color: #f00;  margin: 8px 0 3px 0;}
.admin-list { padding: 11px 0; font-size: 1.4em;}

.admin-list dt a {line-height: 1.1em; padding: 5px 5px ; font-weight: bold; color: #666; border: 1px solid #ddd; display: block; margin: 1px 0; }
.admin-list dt a:hover {color:#f00; border-left: 5px solid #f00; border: 1px solid #f00;}
.admin-list dd {line-height: 1.45em; margin: 5px; font-size: .75em; display: block; color: #777; margin: .7em 0 1.2em 0; }



.admin-menu ul.primary { margin: 5px 0; padding: 0; }
.admin-menu ul.primary li {padding: 5px; margin: 0;}
.admin-menu ul.primary li a {padding: 5px 11px; margin: 0;}

.admin-menu ul.secondary {border: none; margin: 11px ; padding: 0; }
.admin-menu ul.secondary li {padding: 5px; margin: 0;}
.admin-menu ul.secondary li a {padding: 5px; margin: 0;}

#tabs-wrapper {border-bottom: 1px solid #ccc; padding: 11px 0 0 0; margin: 11px 5px; overflow: hidden;}

.tabledrag-handle { border: none; }
.teaser-button {font-size: 10px; background: #fff; cursor: pointer; border: 1px dashed #f00; color: #f55; -moz-box-shadow: none; -webkit-box-shadow: none;}
.node-form fieldset legend {padding: 5px; }
.node-form .fieldset-wrapper {border: 1px solid #ddd; padding: 11px;}
#edit-title {font-size: 2.8em; border: none; border-bottom: 1px dashed #ddd; -moz-box-shadow: none; -webkit-box-shadow: none;  }
#edit-title:hover {color: #555; background: #ddd; }

#block-afd-navigatie .contextual-links-wrapper {display: none;}

/* Adjusted SP dropdown for admin-menu height */
.admin-menu #header .block li ul { top: 45px; }