/* ==========================================================================
   CSS voor de CiviCRM-backend binnen het SP-thema
   ========================================================================== */

/* Reset van stijlen van SPruit-thema */


.crm-container th,
.crm-container table.display thead th,
.crm-container table thead.sticky th,
.crm-container table.caseSelector tr.columnheader th {
  background: #eaeaea;
  border-color: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  padding: .42em .72em;
  text-align: left;
  vertical-align: top;
}
#crm-container tr {
  font-size: 1.2em;
}
.crm-container span.btn-slide {
    display: inline-block;
}

#crm-container ul li:before {
    content: '' !important; /* Geen tomaatjes voor willekeurige ul's */
    display: none;
}

#crm-container li.crm-tab-button {
    padding-left: 0 !important;
}

#crm-container p, #crm-container ul, #crm-container ol, #crm-container h1, #crm-container h2, #crm-container h3, #crm-container h4, #crm-container h5, #crm-container h6, #crm-container blockquote, #crm-container form, #crm-container table, #crm-container pre, #crm-container code, #crm-container dl, #crm-container dt, #crm-container .meta {
    padding: 0;
}

#crm-container .ac_results li {
    font-size: 0.9rem;
}

.crm-container .btn-slide .panel {
    display: none;
}

#crm-container table.report-layout tr {
   font-size: 14px;
   font-size: 0.9rem;
}
#crm-container table.report-layout .crm-report-instanceList-title {
   font-size: 16px;
   font-size: 1rem;
}
#crm-container .crm-pager {
  font-size: .8em;
}
#crm-container .crm-pager-nav {
  display: block;
  margin: 0;
  padding: 0;
}


/* Report in block */
.crm-content-block .report-layout th {
  background: #fff;
}
.crm-content-block .report-layout th h1 {
  color: #333;
  margin: 0;
  padding: .14em 0;
  font-size: 1.4em;
}

#crm-container .crm-pager {
  background: none;
}

/* Voormalige sidebar, nu gereduceerd tot twee quick links bovenaan */

.quicklinks-content .block {
    float: right;
    height: 35px;
    overflow: visible;
}

.quicklinks-content .block header {
    display: none;
}

.quicklinks-content #crm-recently-viewed {
    position: relative;
}

.quicklinks-content #crm-recently-viewed-link {
    color: #fff;
}

.quicklinks-content #crm-recently-viewed a {
    color: #dfdfdf;
    font-size: 1em;
}

.quicklinks-content #crm-recently-viewed-list {
    position: absolute;
    display: none;
    top: 24px;
    width: 220px;
    left: 0;
    z-index: 15;
}

.quicklinks-content .crm-recently-viewed-list-inner {
    background-color: #2f2f2e;
    padding: 4px;
}

.quicklinks-content #crm-recently-viewed-list li div {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.quicklinks-content #crm-recently-viewed-list li a:hover {
    color: #aaa;
}

.quicklinks-content #crm-recently-viewed-list li div a {
    display: inline-block;
    margin-right: 5px;
}

.quicklinks-content .crm-create-new-list-inner {
    padding-left: 0;
}

.quicklinks-content .crm-create-new-list-inner li {
    font-family: 'HelveticaNeueLT-Light', sans-serif;
    font-size: 0.9em;
    line-height: 1.4em;
}

/* Widgets op dashboard (met compacter nieuws) */

#crm-container .column {
    padding-bottom: 50px !important;
}

#crm-container .column-0 {
    width: 65% !important;
}

#crm-container .column-1 {
    width: 35% !important;
}

#crm-container .widget-content {
    padding: 0.5em 0 !important;
}

#crm-container li.widget {
    min-height: 75px !important;
}

#crm-container .widget-controls {
    background-color: #f00 !important;
    padding: 2px 0px !important;
}

#crm-container .widget-header {
    background-color: #f00 !important;
    color: #fff !important;
    font-size: 0.8em !important;
    text-transform: uppercase !important;
    padding: 0 0.7rem !important;
}

#crm-container .help, 
#crm-container #help {
  font-size: .9em;
  padding: 1.14em;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #f1f1f1;
}

.crm-container .status {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.crm-container h4 {
    font-family: Verdana, Helvetica, sans-serif;
    text-transform: none;
    font-size: 1.4em;
    font-weight: bold;
}

.crm-container h3.nobackground, .crm-container .crm-form-block h3 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: normal;
}

.crm-container .crm-form-block {
    font-size: 1em;
}

.crm-container .content p, .crm-container .help p, .crm-container .help > div {
    font-size: 1.2em;
    display: block;
    padding: 0;
    margin: 4px;
}

#civicrm-blog-feed .crm-accordion-header {
    background-color: #f9f9f9 !important; /* nieuws op de voorpagina iets minder dominant */
    color: #3e3e3e;
    border: 1px solid #eee;
}

#civicrm-blog-feed .help {
    border: 1px solid #eee;
    border-top: 0;
}

#civicrm-blog-feed .help p, #civicrm-blog-feed .help a {
    font-size: 0.8em;
    line-height: 1.2em;
}

/* Custom search widget */

.crm-container #spqs-form input {
    border: 1px solid #bbb;
    background: none !important;
    padding: 3px 3px !important;
    font-size: 0.85em;
}

.crm-container #spqs-form input:focus {
    border: 1px solid #222;
}

.crm-container #spqs-id, .crm-container #spqs-streetno {
    width: 75px !important;
    margin-right: 7px;
}

.crm-container #spqs-name, .crm-container #spqs-postcode, .crm-container #spqs-city, .crm-container #spqs-communic {
    width: 90px !important;
}

.crm-container #spqs-city {
    margin-right: 7px;
}

.crm-container #spqs-spinner {
    display: none;
    width: 100%;
    height: 80px;
    background: url('../img/ajax-loader.gif') center 30px no-repeat;
}

.crm-container #spqs-results {
    display: none;
    min-height: 50px;
}

.crm-container #spqs-results p {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.crm-container #spqs-results table {
    border: 0;
    margin: 10px 0 15px 0;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
    line-height: 0.9rem;
}

.crm-container #spqs-results tr {
    height: 0.9rem;
    overflow: hidden;
    white-space: nowrap
}

.crm-container #spqs-results td.spqs-id {
    align: right;
}

/* Overzichtspagina contact */

#crm-container div.crm-summary-contactname-block {
    margin-top: 0px;
}

#crm-container div.crm-summary-display_name {
    padding: 4px 0px;
    font-family: HelveticaInseratLTPro, Impact, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1.1em;
    font-size: 2em;
    color: #333;
    font-weight: normal;
}

#crm-container div.crm-summary-display_name .crm-icon {
    margin: 8px 8px 0 0;
}

.crm-container .ui-tabs .ui-tabs-nav, #crm-container div.crm-summary-row {
    background-color: #f9f9f9;
}

#crm-container .crm-contact-tabs-list {
  padding: .4em;
  background: #fff;
}
#crm-container li.crm-tab-button {
    padding: 0;
    margin: 2px;
    background: #eee;
    font-size: .9em;
    display: inline-block;
}
#crm-container li.crm-tab-button:hover {
    background: #fafafa;
}
#crm-container li.ui-tabs-active {
    background: #fff;
}

#crm-container div.crm-summary-display_name .crm-tooltip {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: initial;
}

#crm-container #crm-record-log .col1 {
    margin: 0;
}

/* Formulieren (Nieuwe persoon) */

/* Form elements */
#crm-container select {
  border: 1px solid #999;
  background: #fff;
  border: 1px solid #ccc;
}
#crm-container form {
  max-width: 1180px;
  overflow: visible;
}
#crm-container form *:focus { 

}
#crm-container .form-text {
  padding: .14em;
}
#crm-container label {
  font-size: 1em !important;
}

.crm-container .crm-form-block {
    background: none !important;
}

.crm-container tr:nth-of-type(odd) {
    background: none !important;
}

.crm-container .crm-accordion-header {
    background-color: #666;
    padding: 6px 8px 6px 20px;
}

.crm-container .crm-accordion-header:hover, .crm-container .crm-accordion-header.active, .crm-container .crm-accordion-header.active:hover {
    background-color: #444;
}

.crm-container .crm-accordion-body {
    padding-left: 10px;
}

.crm-container .crm-accordion-wrapper {
    margin-bottom: 10px;
}

.crm-container .crm-master-accordion-header.crm-accordion-header:hover, .crm-container .crm-collapsible .collapsible-title:hover {
    color: #000;
}

/* Inschrijfformulier events: register-different hiden */

.crm-event-register-form-block #crm-event-register-different {
    display: none;
}

/* Mailing verzenden en autocomplete geadresseerden */

.crm-contactEmail-form-block-recipient ul.token-input-list-facebook {
    width: 600px !important;
    margin: 5px 0 10px 0 !important;
}

li.token-input-token-facebook {
    border: 1px solid #aaa !important;
    color: #333 !important;
    background-color: #efefef !important;
    height: 15px !important;
    margin: 3px !important;
    padding: 4px !important;
    font-size: 1em !important;
}

li.token-input-token-facebook p {
    font-size: 1em;
}

li.token-input-input-token-facebook {
    padding: 4px !important;
    font-size: 1em;
}

li.token-input-input-token-facebook input {
    font-size: 1em;
    line-height: 1.36em;
    font-family: Verdana, Arial;
    padding: 3px 4px !important;
    box-shadow: none;
}

.crm-contactEmail-form-block .helpIcon {
    margin: 10px 45px 10px 0;
}

#primary .form-textarea {
    max-width: 835px !important;
}

/* Admin */

.crm-content-block table.form-layout {
    width: 100%;
}

.crm-content-block table.form-layout img.action-icon {
    padding: 0px;
    margin: 0px;
}

/* Algemeen */

.content .description {
    font-size: 0.9em !important;
    color: #999 !important;
    padding: 0em 0em 1em 0em !important;
    margin-top: 0.6em !important;
    line-height: 1em !important;
}

/* Tooltips geen Impact Bold... maar wel wit */
.crm-container div.ui-notify-message h1 {
    font-weight: normal;
    font-size: 1.8em;
}

.crm-container div.ui-notify-message p {
    color: #fff;
}

.crm-container div.ui-notify-message p.gap {
    margin: 6px 0px 12px 0px;
}

.crm-container div.ui-notify-message ul li {
    padding: 0 0.2em 0.6em 0.2em;
}

/* Shortcut-tooltip footer */
.crm-container #access {
    font-size: 0.8em;
    line-height: 1.2em;
    padding-bottom: 0.6em;
}

/* Onderkop */
.crm-container h3 {
    font-size: 2em;
    background: none;
    text-transform: none;
}

/* Geen standaard block-labels */
.content .crm-container form label {
    display: inline;
}

/* Links standaard zwart + underline */
.crm-container a, .crm-container a:link, .crm-container a:visited {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.crm-container a.helpicon {
    text-decoration: none;
    display: inline-block;
    margin-left: 4px;
}

.crm-container a:hover {
    color: #f60000;
}

/* Buttons */
.crm-container a.button, .crm-container a.button:link, .crm-container a.button:visited, .crm-container input.form-submit, #crm-container input[type=button], #crm-container input.form-submit-inline, #crm-container .crm-button {
    background: #444;
    border: 1px solid #333;
    text-shadow: none;
    width: auto;
    font-size: 16px !important;
    font-weight: normal;
    font-family: HelveticaNeueLT-Light, sans-serif;
    padding: 4px 8px;
    text-transform: none;
}

.crm-container .crm-submit-buttons, .crm-container .action-link {
    height: 34px !important;
}

.crm-container .crm-button:hover, .crm-container .crm-button:focus, .crm-container input[type=submit]:hover, .crm-container input[type=button]:hover, .crm-container a.button:hover, .crm-container a.button:focus, #crm-container .crm-button:hover {
    background: #666;
    border: 1px solid #555;
}

.crm-container a.button:hover {
    color: #fff;
}

.crm-container .button:hover .icon, .crm-container .crm-button:hover .icon, .crm-container .button:hover .delete-icon {
    /* Icoontjes blijven gewoon wit: */
    background-image: url("../img/jquery-ui-FFFFFF.png") !important;
}

#crm-container .crm-button input[type=button], #crm-container .crm-button input.form-submit, #crm-container .crm-button input.form-submit-inline {
    padding: 2px 5px;
}

.crm-container .crm-tab-button a, .crm-container .ui-tabs .ui-tabs-nav li a {
    padding: 8px !important;
    font-size: 0.75em !important;
}

/* Doorklikbalk letters */
#crm-container div#alpha-filter {
    background-color: #ddd;
    margin: 10px 0;
}

#crm-container div#alpha-filter li {
    color: #999;
    font-size: 1.2em;
}

#crm-container div#alpha-filter a {
    border-bottom: 1px dotted #333;
    color: #333;
    text-decoration: none;
}

/* Diverse fixes */
#civicrm-menu #crm-qsearch input {
    color: #333;
}

.crm-search_builder-accordion h3 {
    font-size: 1em !important;
    font-weight: bold !important;
    margin: 1em 0 !important;
}

.crm-search_builder-accordion input.submit-link {
    margin: 0 !important;
}

/* Image icons en andere specifieke links niet underlinen */
#SearchEvent .float-right a, .crm-accordion-header a.crm-close-accordion {
    text-decoration: none;
}

/* JQuery-UI elements die nogal groot zijn door font-size rariteiten */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-dialog-content .description, .ui-dialog-titlebar, .ui-button-text {
    font-size: 1em;
    line-height: 0.8em;
}

/* Kenmerken edit screen */
#SP_kenmerken td, #Actief_SP td {
    padding-bottom: 10px;
}

#SP_kenmerken label, #Actief_SP label {
    float: left;
    margin-left: 5px;
}

#SP_kenmerken input[type=checkbox], #SP_kenmerken input[type=radio], #Actief_SP input[type=checkbox], #Actief_SP input[type=radio] {
    float: left;
    display: block;
    clear: left;
    margin: 3px 0;
}

/* Toolbar lelijk voor non-admins */
.page-civicrm .toolbar-toggle-processed, .page-civicrm .toolbar-drawer {
    display: none;
}

/* CiviCRM-toolbar voor mensen zonder Drupal toolbar */
.page-civicrm:not(.toolbar) header {
  margin-top: 27px;
}

/* No print button on most pages */
.page-civicrm #printer-friendly {
  display: none;
}

/* Public event pages */

.page-civicrm-event-info .breadcrumb {
  display: none;
}
.page-civicrm-event-info .main-top-wrapper {
  display: none;
}

/* Styles for Wizard Progress Bars */

#crm-container ul.wizard-bar {
  border-collapse: collapse;
  padding: 0;
  white-space: nowrap;
  list-style: none;
  margin: 10px 0px 20px;
  height: auto;
  width: auto;
  line-height: normal;
  border: none;
}
#crm-container ul.wizard-bar li {
  display: inline-block;
  background-color: #fafafa;
  border: 1px solid #ddd;
  height: auto;
  margin: 0;
  padding: .4em .72em;
  text-decoration: none;
  font-size: .95em;
  background-image: none;
}
#crm-container ul.wizard-bar li.current-step {
  background-color: #888;
  border-color: #888;
  color: #fff;
  font-weight: normal;
}
#crm-container ul.wizard-bar li.past-step {
  background-color: #f00;
  color: #666;
}
#crm-container ul.wizard-bar li.past-step {
  background-color: #fff;
  color: #aaa;
  border-color: #fff;
}

#crm-container .crm-mailing-settings-form-block h2 {
  display: none;
}

.crm-mailing-settings-form-block .messages {
  background: #fff;
  display: inline-block;
  padding: .4em !important;
  color: #f60000;
}


/* Notifications */
#crm-notification-container {
  width: 28vw;
  position: fixed;
  top: 52px;
  right: 1em;
  z-index: 999999;
}
.crm-container div.ui-notify-message {
  padding: 1.4em;
  margin-bottom: 15px;
  color: #eee;
  border-radius: 2px;
  max-height: 600px;
  overflow: auto;
}
.crm-container div.ui-notify-message h1 {
  font-size: 14px;
  margin: 0;
  padding: 4px;
  font-weight: bold;
  color: #fff;
}
.crm-container div.ui-notify-message p {
  margin: 4px 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
}
.crm-container div.ui-notify-message li {
  margin:  0 2em .4em 2em;
  padding: 0;
  line-height: 18px;
  font-size: 14px;
}
.crm-container div.ui-notify-message: last-child {
  margin-bottom: 0;
}
.crm-container div.ui-notify-message-style {
  background: #222;
  background: rgba(23,23,23,.98);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.crm-container div.ui-notify-message-style a,
.crm-container div.ui-notify-message-style a:link {
  color: #CCD0FF;
  text-decoration: underline;
}
.crm-container div.ui-notify-message-style a:hover,
.crm-container div.ui-notify-message-style a:focus {
  color: #B2B8FF;
}
.crm-container div.ui-notify-message .ui-notify-close {
  cursor: pointer;
}
.crm-container div.ui-notify-message a.ui-notify-cross {
  margin-top: -18px;
  margin-right: -11px;
  float: right;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-shadow: none;
  padding: 8px;
  color: #FDFDFD;
}
.crm-container div.ui-notify-message .ui-notify-cross:hover,
.crm-container div.ui-notify-message .ui-notify-cross:focus {
  color: #000;
}
.crm-container div.ui-notify-message table,
.crm-container div.ui-notify-message tbody,
.crm-container div.ui-notify-message tr {
  border: 0 none;
  font-size: 11px;
}
.crm-container div.ui-notify-message td {
  background: rgba(255,255,255,0.1);
  border: 1px solid #111;
  font-size: 11px;
}
.crm-container div.ui-notify-message th {
  background: rgba(200,200,200,0.2);
  border: 1px solid #111;
  color: #eee;
  font-size: 11px;
}
.crm-container div.ui-notify-message ul,
.crm-container div.ui-notify-message ol {
  margin: 0.5em 0 1em;
  padding: 0 0 0 0.5em;
}

.crm-container div.ui-notify-message div.icon,
.crm-status-icon {
  background: transparent url("../i/message-icons.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.crm-container div.ui-notify-message.success div.icon,
.crm-status-icon.success {
  background-position: -24px 0px;
}
.crm-container div.ui-notify-message.info div.icon,
.crm-status-icon.info {
  background-position: -48px 0px;
}
.crm-container div.ui-notify-message.error div.icon,
.crm-status-icon.error {
  background-position: -72px 0px;
}

span.crm-status-icon {
  display: inline-block;
}
