/* 
   Alle vlugge fixes die nog een keer 
   netjes moeten worden opgelost.
   http://csswizardry.com/2013/04/shame-css/ 
*/

#block-views-cursussen-block-1 {
  pointer-events: none;
}

.page-node-138 #block-views-cursussen-block-1 {
  pointer-events: none;
  margin-top: 0;
  padding-top: 0;
}

.page-node-138 .pane-node-body {
  display: none;
}

#book-navigation-136 {
  display: none;
}

.webform-client-form-373 .webform-component--telefoonnummer label,
.webform-client-form-373 .webform-component--e-mail label,
.webform-client-form-373 .webform-component--voornaam label,
.webform-client-form-373 .webform-component--achternaam label
{
  width: 128px !important;
  display: inline-block;
}


/* Overbodig, onverwijderbaar veld in kraskaarten-formulier */
.page-node-198 .webform-component--email-adres---telefoonnummer {
  display: none;
}


/* Spoedklus styling kandidaten partijbestuur */

.page-congres-kandidaten-partijbestuur .pane-content h2 {
  color: #f00;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif' !important;
  text-transform: none;
  font-size: .9em;
  padding: 0;
}

.content .links {
  max-width: 960px;
  margin: 0 auto;
}

.not-logged-in .primary-action {
  border: 1px solid #000;
}

/* Cut the NET from the SP-NET logo */
.page-aanmelden-lid .site-logo a {
  display: block;
  width: 150px;
  height: 84px;
  overflow: hidden;	
}

/* Overzicht aantal deelnemers cursus */
.view-id-cursusoverzicht_aantal_deelenemers {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
