/* 
   Alle vlugge fixes die nog een keer 
   netjes moeten worden opgelost.
   http://csswizardry.com/2013/04/shame-css/ 
*/

#block-views-cursussen-block-1 {
	pointer-events: none;
}

.page-node-138 #block-views-cursussen-block-1 {
	pointer-events: none;
	margin-top: 0;
	padding-top: 0;
}

.page-node-138 .pane-node-body {
	display: none;
}
