/* Panels: Directions (front-page) */

.directions .primary-content {
	text-align: center;
}

.directions .panel-pane {
	width:  280px;
	height: 270px;
	margin: 1em .72em 0 .72em;
	display: inline-block;
	padding: .4em;
	border-bottom: 5px solid #eee;
	text-align: left;
	overflow: hidden;
}

.directions .panel-seperator {
	display: none;
}

.directions .pane-content {
	padding: .72em 0 ;
}

.directions .pane-content p {
	margin: 0 0 1.4em 0;
	padding: 0;
}

.directions .pane-content p:last-child {
	margin: 0;
	padding: 0;
}

.directions .pane-title {
	margin: 0 0 .32em 0;
	padding: 0;
	font-size: 1.4em;
	text-transform: none;
	font-family: 'HelveticaNeueLTStd-BdCn';
}

.directions .panel-pane li {
	margin: 0 0 .14em 0;
	font-size: 1rem;
}

.directions .panel-pane li a {
	background: #ddd;
	padding: .32em .72em;
	font-family: 'HelveticaNeueLTStd-BdCn';
	text-decoration: none;
	font-weight: normal;
	display: inline-block;
	-webkit-transition-duration: .4s; /* Safari */
	transition-duration: .4s;
}

.directions .panel-pane li:nth-of-type(2n) a {
  /* background: #bbb; */
}

.directions .panel-pane li a:hover {
	background: #000;
	color: #fff !important;
}

.directions .pane-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.directions .content-width {
	height: auto;
	max-width: 960px;
	width: 70%;
	display: block;
	margin: 0 auto;
	padding: 0 4%;
	border: none;
	border-bottom: .4em solid #ddd;
	text-align: center;
	background: #eee;
}

.directions.not-logged-in .introduction {
	min-width: 300px;
	width: 50%;
	max-width: 520px;
}

/* Pane variants */

.page-node .pane-node-body .body {
	max-width: 100%;
}

.custom-menu {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.custom-menu .pane-title {
	color: #f60000;
	margin: 0;
	font-family: 'HelveticaNeueLTStd-BdCn';
	text-transform: none;
}

.custom-menu ul {
	list-style: none;
	padding: 0;
}

.custom-menu li {
	display: inline-block;
}

.custom-menu ul li a{
	color: #f60000;
	text-decoration: none;
	border: 1px solid #f60000;
	font-family: 'HelveticaNeueLTStd-BdCn';
	padding: .4em .72em;
}

.custom-menu ul li a:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
	border-color: #000;
	font-family: 'HelveticaNeueLTStd-BdCn';
}


/* Book navigation */

.pane-node-book-nav {
	width: 960px;
	margin: 0 auto;
}

.pane-node-book-nav .pane-content {
	width: 280px;
	float: right;
	margin: 0 0 1em 0;
	padding: 0;
	margin-left: 1.4em;
	border-left: .4em solid #ddd;
}

.pane-node-book-nav .pane-content ul {
	list-style: none;
	margin: 0;
	padding: 0 .72em;
}

.pane-node-book-nav .pane-content li a {
	font-family: 'HelveticaNeueLTStd-BdCn';
	font-weight: normal;
	color: #000;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: .4em .72em;
}

.pane-node-terms .pane-content {
	max-width: 960px;
	margin: 0 auto;
	font-family: HelveticaNeueLTStd-BdCn;
	color: #aaa;
	padding: 0;
	text-transform: uppercase;
}

.pane-node-title h1 {
	padding: 0;
	margin: .14em 0;
}

.directions .view-footer {
	font-size: .8em;
	padding: .72em 0;
}

/* Agenda pane */

.directions .pane-agenda-pane-agenda li {
	margin: 0;
	padding: 0 0 .32em 0;
}

.directions .pane-agenda-pane-agenda li {
	display: table;
}

.pane-agenda-pane-agenda .date-display-single {
	font-family: HelveticaNeueLTStd-BdCn;
	border-bottom: 2px solid #aaa;
	display: table-cell;
	padding: .32em 0;
	width: 68px;
	font-size: .9em;
	text-align: center;
	vertical-align: middle;
}

.pane-agenda-pane-agenda .event-title {
	display: table-cell;
	padding-left: .32em;
	font-size: .9em;
	vertical-align: middle;
}

@media only screen and (max-width: 728px) {
	.directions .panel-pane {
		height: auto;
	}

	.pane-node-terms .pane-content {
		padding: 0 1.4em; 
	}

	.pane-node-book-nav .pane-content {
		width: 280px;
		float: none;
		margin: .4em;
		border: none;
	}

	.pane-node-book-nav .pane-content li {
		padding: 0;
		margin: 0;
		font-size: 1em;
	}
}
